.todo-container {
  background-color: #ffffff;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ff8542;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Roboto';
}
.todo-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
