.todo-item {
  list-style-type: none;
}
.title {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto';
}
.delete-button {
  border-radius: 10px;
  border: 0;
  background-color: transparent;
  height: 30px;
  width: 60px;
}
